@model StarGuapa.Models.Articulo
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="container">
    <div class="card">
        <div class="card-header bg-light text-light ml-0 row container">
            <div class="col-8 col-md-8">
                <h4 class="text-primary">@Model.Nombre</h4>
            </div>
            <div class="col-4 col-md-4">
                <h4 class="text-muted">@Model.Precio.ToString("#,##0.00").Replace(",00", "")</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="col-12">
                <img src="@Model.UrlImagen" class="img-thumbnail mx-auto d-block" />
                <p class="text-secondary">@Html.Raw(Model.Descripcion)</p>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-6 pb-1">
                    <a asp-action="Index" class="btn btn-danger btn-sm"><i class="fa fa-arrow-left"></i> Volver a lista</a>
                    <a class="btn btn-success btn-sm"
                       asp-area="Client"
                       asp-controller="ShoppingCart"
                       asp-action="AddToShoppingCart"
                       asp-route-articuloId="@Model.Id"><i class="fa fa-shopping-cart"></i> Agregar al carro</a>
                </div>
            </div>
        </div>
    </div>
</div>